/** 
* @name Hermit
* @version 1.6
* @create 2014-02-07
* @lastmodified 2014-09-25 14:13
* @description Hermit Plugin
* @author MuFeng (http://mufeng.me)
* @url http://mufeng.me/hermit-for-wordpress.html
**/

.clearfix:before,.clearfix:after{content:"";display:table;clear:both;overflow:hidden}#hermit-medita-button .wp-media-buttons-icon:before{font:400 18px/1 dashicons;speak:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;content:"\f127"}